*.txt
*.out
*.exe
*.zip
*.sol
*.in
*.out
*.swp
*~
a2oj/*
pali*
contests/
URI/opa/*
teste*
1090.cpp
*.jpg
in_*
ACM-ICPC_south_america_contest_2015/*
*.tar.gz
in.py
organize.py
codechef/*
harcker_hank/*
